{% extends 'base.html.twig' %}

{% block title %}О компании | Nova{% endblock %}

{% block content %}

<div class="col-sm-12">    			   			
	<h2 class="title text-center">О <strong> компании</strong></h2>    			    				    				
</div>
<p align="justify">ООО «NOVA» - это уникальное фармацевтическое предприятие, работающее в сфере производства оригинальных лекарственных препаратов с 1994 года, которое имеет полный цикл выпуска: разработка, создание и внедрение в производство лекарственных средств. Единицы фармацевтических компаний могут позволить себе такие этапы, как разработка и создание оригинального лекарственного препарата, так как это дорогое и долгосрочное дело.

В настоящее время компания имеет в своем распоряжении современное, технически оснащенное производство, которое состоит из трех основных подразделений: участок мягких лекарственных форм, участок экстракционных препаратов и участок лекарственных сборов. Располагая новыми технологиями и современным подходом к обучению персонала, предприятие ежегодно наращивает темпы производства.

Современный подход к качеству производимой продукции и заготовке качественного лекарственного растительного сырья, произрастающего в экологически чистых районах Украины, делает продукцию востребованной и конкурентоспособной на рынке фитопрепаратов.

Все препараты компании имеют в своем составе исключительно природные (растительного и животного происхождения) компоненты, лечебные свойства которых издавна использовались в традиционной и народной медицине.</p>


{% endblock %}