{% extends 'base.html.twig' %}

{% block title %}Новости | Nova{% endblock %}

{% block content %}

<div class="col-sm-12">    			   			
	<h2 class="title text-center"><strong> Новости</strong></h2>    			    				    				
</div>

{% endblock %}